
# Large files
backend.zip
*.zip
*.tar.gz
*.rar

# IDE
.idea/

# Python
__pycache__/
*.pyc
*.pyo
db.sqlite3
venv/
.env

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages

__pycache__/
*.pyc
